<simple-notifications [options]="options"></simple-notifications>

<div class="loading-screen" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
  <h2>{{ loadingMessage }}</h2>
</div>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h3>Test app for Sqrl Wallet API with {{ appName }}</h3>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button *ngIf="!isConnected" mat-button color="normal" (click)="connectToWallet()">Connect to Wallet</button>
    <button *ngIf="!identity; else hasIdentity" mat-button color="normal" (click)="getIdentity()">Get Identity</button>
    <ng-template #hasIdentity>
      <button mat-button color="normal" (click)="authenticate()">Auth / Sign origin</button>

      <button mat-button color="normal" (click)="forgetIdentity()" style="margin-left: auto">Forget Identity</button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

<div class="page-container">
  
  <ng-template [ngIf]="!isConnected && !identity">
    <h2>Application Name:</h2>
    <mat-form-field>
      <input matInput type="text" placeholder="Application Name" [formControl]="appNameFC">
      <mat-hint>string</mat-hint>
    </mat-form-field>
    <br/>
    Network:
    <br/>
    <br/>
    
    <mat-form-field>
      <input matInput type="text" placeholder="PROTOCOL" [formControl]="networkProtocolFC">
      <mat-hint>string</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="HOST" [formControl]="networkHostFC">
      <mat-hint>string</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="PORT" [formControl]="networkPortFC">
      <mat-hint>number</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="CHAIN ID" [formControl]="networkChainIdFC">
      <mat-hint>string</mat-hint>
    </mat-form-field>
  </ng-template>

  <mat-card *ngIf="identity">
    <p>Identity auth publicKey (different from account public key, valid until wallet reset): <strong>{{ identity.publicKey }}</strong></p>
    <p *ngIf="account">selected account: <strong>{{ account.name }}</strong></p>
  </mat-card>

  <mat-card *ngIf="data" color="normal">
    <ngx-json-viewer [json]="data">
    </ngx-json-viewer>
  </mat-card>

  <ng-template [ngIf]="account">
    <h2>More stuff below</h2>
    <mat-tab-group>
      <mat-tab label="A few actions trx">
        <app-few-actions [account]="account" (onSend)="fewTransactions($event)"></app-few-actions>
      </mat-tab>
      <mat-tab label="Many actions trx">
        <app-many-actions [account]="account" [key]="identity.publicKey" (onSend)="manyTransactions($event)"></app-many-actions>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
</div>